<h1><%= @article.title %></h1>
<p>
	<%= @article.text %>
	<hr>
</p>

<% @article.comments.each do |comment| %>
	
	<h3><%= comment.author  %></h3>

	<p>
		<%= comment.body %>
	</p>
	<hr>
<% end %>

<p>
	<%= form_for ([@article, @article.comments.build]) do |f| %>
	<p>
		<%= f.label current_user.username %><br>
		<%= f.text_field :author %>
	</p>

	<p>
		<%= f.label 'Введите комментарий' %><br>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.submit 'Отправить' %>
	</p>
<% end %>
</p>
