<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      Привет, <%= current_user.username %> | <%= link_to "Выход", destroy_user_session_path, method: :delete %>

    <% else %>
      <a href="<%= new_user_session_path %>">Вход</a>
      <a href="<%= new_user_registration_path %>">Регистрация</a>
    <% end %>

    <%= yield %>
  </body>
</html>
